<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215846442436-i1l7ajf3bla86u437rk5k42l9h30j38t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215846442436-i1l7ajf3bla86u437rk5k42l9h30j38t</string>
	<key>API_KEY</key>
	<string>AIzaSyAJqdYYGr_sqkuhle4W9Lm0_u-onF5-qpA</string>
	<key>GCM_SENDER_ID</key>
	<string>215846442436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.cyclone.maria</string>
	<key>PROJECT_ID</key>
	<string>maria-285515</string>
	<key>STORAGE_BUCKET</key>
	<string>maria-285515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215846442436:ios:10ae02bfc676b389304091</string>
	<key>DATABASE_URL</key>
	<string>https://maria-285515.firebaseio.com</string>
</dict>
</plist>